.landing-top {
    min-height: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .whoami {
        margin:20px;

        h1 {
            font-family: 'Roboto', sans-serif;
            color: #fff;
            font-weight: 200;
            font-size: 3rem;
        }
        p {
            font-family: 'Courier New', Courier, monospace;
            color: #f4f4f4;
        }
    }
}