.containerHome {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  .homeWrapper {
    width: 1000px;
    margin: 20px;

    .bashHeader {
      min-height: 40px;
      background-color: #f4f4f4;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;

      .button {
        cursor: pointer;
      }
    
    }
  }
}
